*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100%;
}

:root{
    --primary-color: #d21216;
    --blue-color: #223b78;
    --gray-color: #f2efea;
}

/* Menu de navegação */

nav img{
    width: 280px;
    height: 80px;
}

nav ul li{
    margin-right: 12px;
}

.nav-link{
    font-size: 1.2rem;
}

/* ######### */

/* Section Main */

main{
    height: calc(100% - 109px);
}

main section{
    background-color: var(--gray-color);
    padding: 60px;
    border-radius: 16px;
}

form label{
    margin-bottom: 8px;
}

.btn{
    background-color: var(--blue-color);
    color: white;
}

.btn:hover{
    color: rgb(175, 175, 175);
}

/* ######### */